<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <style type="text/css">
            .content {
                color: #ababab;
                font-size: 11pt;
            }
            .content h1 {
                font-size: 18pt;
            }
            .content h2 {
                font-size: 14pt;
            }
            .content p {

            }
        </style>
    </head>
    <body>
        <section class="content">
            {{ content|safe }}
        </section>
    </body>
</html>